# Dependencies
node_modules/
.pnp
.pnp.js

# Build Outputs
dist/
dist-electron/
Release/
build/

# Local Configurations & Logs
config/
config.json
log.txt
*.log

# Editor & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
